<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>

</head>
<body>
	<div ng-app="myapp" ng-controller="MyController">
		<form>
			<center>
			<input type="hidden" ng-model="objectId">
				Name: <input ng-model="name" type="text"><br> Mobile
				No:<input ng-model="number" type="text"><br> Address:
				<textarea cols="40" ng-model="address" rows="4"></textarea>
				email id:<input ng-model="email" type="email"><br> <input
					type="button" ng-click="submitTheForm()" value="Upadte">
				

			</center>
		</form>
	</div>
	<script>
		angular.module("myapp", []).controller(
				"MyController",
				function($scope, $http,$location,$window) {
					var searchObject = $location.search();					
		
					$http.get("/Employee/"+searchObject.objectId).then(function(response) {
						console.log(response);
						$scope.name = response.data.name;
						$scope.number = response.data.number;
						$scope.address = response.data.address;
						$scope.email = response.data.email;
						$scope.objectId = response.data.objectId;
					});

					$scope.submitTheForm = function(item, event) {
						console.log("--> Submitting form");
						var dataObject = {
							name : $scope.name,
							number : $scope.number,
							address : $scope.address,
							email : $scope.email,
							objectId:$scope.objectId
						};
						console.log(dataObject);

						var responsePromise = $http.put("/Employee/"+$scope.objectId,
								dataObject, {});
						responsePromise.success(function(dataFromServer,
								status, headers, config) {
							alert("Record Updated Successfully");
							$window.location.href = '/viewemployee.html';
							console.log(dataFromServer);
						});
						responsePromise.error(function(data, status, headers,
								config) {
							alert("Submitting form failed!");
						});
					}

				});
	</script>
</body>
</html>